{% extends "base.html" %}
{% block bodycontent %}
    <div class= "container">
    <center><h1>{{recipe["name"]}}</h1></center>
    </div>
		   <center>
<div class="container">
	
   <div class ="row">
       <div class="col-md-5">
        <br><img src="{{recipe['images'][0]['hostedLargeUrl']}}"> <br><br>
            <label class= "label label-danger"> A <b>{{tag.lower()}}</b> mix from 8traks to listen to while you cook!</label><br><br>
                <iframe src="{{url}}/player_v3_universal" width="360" height="300" style="border: 0px none;"></iframe>
       </div>
       <div  class="col-md-7">
           <h3> Ingredients</h3>
           <table class= "table table-striped">
               {% for ing in recipe["ingredientLines"] %}
               <tr><td>{{ing}}</td></tr>
               {% endfor %}
            </table>
			<label class= "label label-danger"> Check out a youtube tutorial on how to make {{recipe["name"]}}</label><br><br>
			<iframe width="560" height="315" src="{{video}}" frameborder="2"></iframe>
        </div>
       </div><br>

       <a href="{{recipe["source"]["sourceRecipeUrl"]}}" target="_blank" class= "btn btn-lg btn-block btn-danger">Click Here for the Recipe </a>
   		</center>

{% endblock %}
