{% extends "base.html" %}
{% block bodycontent %}
    <div class= "container">
    <center><h1>{{recipe["name"]}}</h1></center>
    </div>
<div class="container">
   <div class ="row">
       <div class="col-md-5">
        <br><img src="{{recipe['images'][0]['hostedLargeUrl']}}"> <br><br>
            <label class= "label label-danger"> A {{tag.lower()}} mix from 8traks to listen to while you cook!</label><br><br>
                <iframe src="{{url}}/player_v3_universal" width="360" height="200" style="border: 0px none;"></iframe>
       </div>
       <div  class="col-md-7">
           <h3> Ingredients</h3>
           <table class= "table table-striped">
               {% for ing in recipe["ingredientLines"] %}
               <tr><td>{{ing}}</td></tr>
               {% endfor %}
            </table>
        </div>
       </div><br>
   <div class="container">
       <a href="{{recipe["source"]["sourceRecipeUrl"]}}" class= "btn btn-lg btn-block btn-danger">Click Here for the Recipe </a>
   </div>

{% endblock %}